* {
    font-family: "Inter", sans-serif;
    color: #F1F1F1;
}
body {
    padding: 0;
    margin: 0;
}
header nav {
    width: 100%;
    display: flex;
    padding: 1.5rem 2rem;

    h1 {
        width: 20%;
    }
    ul {
        width: 60%;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 0;
    }
    a {
        width: 20%;
        text-decoration: none;
        text-align: center;
        margin: auto 0;
    }
}
.hero {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.40)) 0% 0% / cover, linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.30)), url("/public/hero.jpg");
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}